.contents__container
  h2.contents__title OUR ITEMS
  ul.contents__list
    li.contents__item
      a.contents__link(href="#")
        img.contents__item__img(src="../img/pic1.png", alt="緑のイスの写真")
        h3.contents__item__title 素敵な家具
        p.contents__item__price 20,000円
    li.contents__item
      a.contents__link(href="#")
        img.contents__item__img(src="../img/pic2.png", alt="茶色のイスの写真")
        h3.contents__item__title 素敵な家具
        p.contents__item__price 20,000円
    li.contents__item
      a.contents__link(href="#")
        img.contents__item__img(src="../img/pic3.png", alt="室内灯の写真")
        h3.contents__item__title 素敵な家具
        p.contents__item__price 20,000円
    li.contents__item
      a.contents__link(href="#")
        img.contents__item__img(src="../img/pic4.png", alt="ソファーの写真")
        h3.contents__item__title 素敵な家具
        p.contents__item__price 20,000円
    li.contents__item
      a.contents__link(href="#")
        img.contents__item__img(src="../img/pic5.png", alt="仕事机の写真")
        h3.contents__item__title 素敵な家具
        p.contents__item__price 20,000円
  .contents__btn
    a.contents__btn__link(href="#") もっと見る
