footer
  .footer__container
    small.footer__copy &copy; dotinstall.com
    ul.footer__sns__link
      li.footer__sns__item
        a.sns__link(href="#")
          i.fab.fa-twitter
      li.footer__sns__item
        a.sns__link(href="#")
          i.fab.fa-instagram
