header
  .header__container
    h1.header__logo__box
      img.header__logo(src="../img/logo.png", alt="DTFNTRのロゴ")
    .header__search__box
      input.search__input(type="search" name="search")
      input.search__icon(type="submit" value="")
      i.fas.fa-search
    ul.header__link__list
      li.header__link__item
        a.header__link(href="#")
          p.header__link__icon
            i.fas.fa-user-circle
          p.header__link__text ログイン
      li.header__link__item
        a.header__link(href="#")
          p.header__link__icon
            i.fas.fa-shopping-cart
          p.header__link__text カート

